<ion-header no-border>
  <ion-toolbar color='dark'>
    <ion-title>
      Favourites News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='dark'>

  <!-- Utiliza slides para centrar el texto en la página por no usarlo de otra forma -->
  <ion-slides [options]='sliderOpts' *ngIf='dataLocalService.noticias.length === 0'>
    <ion-slide >
      <ion-label>No Favourites</ion-label>
    </ion-slide>
  </ion-slides>

  <app-noticias *ngIf='dataLocalService.noticias.length > 0' [enFavoritos]='true' [noticias]='dataLocalService.noticias'></app-noticias>
</ion-content>